body {
  background-color: black;
}
@font-face {
    /*proměnná*/
    font-family: "kendrick_lamar_font";
    src: url("../fonty/Titillium_Web/TitilliumWeb-SemiBold.ttf")
      format("truetype"); /*formát truetype*/
  }
  .main {
    width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
    background-color: white;
  }

  .right_side_img_div {
    gap: 0px;
    align-items: flex-start;
    height: 250px;
  }
  .right_side_img {
    width: 30%;
    float: right;
    margin-top: -220px;
    padding-right: 160px;
  }
  .left_side_h {
    text-align: left;
    padding-left: 45px;
    margin-bottom: 50px;
    margin-bottom: 0px;
    margin-top: -20px;
    padding: 20px;
    transform: translate(+2%, +30%);
  }
  .left_side_p {
    margin-left: 45px;
    margin-top: 50px;
    text-align: justify;
    width: 450px;
  }
  .another_p {
    margin-left: 45px;
    margin-top: 0px;
    text-align: justify;
    width: 450px;
  }
  .hr_left {
    margin-top: 0px;
    height: 5px;
    background-color: black;
    border-color: rgb(0, 0, 0);
    width: 120px;
    float: left;
    margin-left: 45px;
  }
  .hr_xd {
    margin-top: 50px;
    color: white;
    background-color: white;
  }

  .brentwood_mansion {
    width: auto;
    height: 280px;
    float: right;
    padding-right: 100px;
    transform: translate(+0%, -100%);
    gap: 50px;
  }

  .kendrick_lamar {
    width: auto;
    height: 300px;
    float: right;
    padding-right: 135px;
    transform: translate(+0%, -95%);
    gap: 50px;
  }

  .not_like_us
  {
    width: auto;
    height: 250px;
    float: right;
    padding-right: 135px;
    transform: translate(-18%, -105%);
    gap: 50px;
  }